:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f97e7e;
  height: 75px;
}
.navbar a {
  text-decoration: none;
  color: #000000;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: solid 1px #000000;
  border-radius: 5px;
  margin: 0 0.5rem;
}
.navbar-core {
  display: flex;
  align-items: center;
}
.navbar-link:hover {
  background-color: #000000;
  color: #ffffff;
}
.navbarlink:active {
  background-color: #000000;
  color: #ffffff;
}
#logo {
  border: none;
}

#logo img {
  width: 75px;
}
main {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  align-items: center;
}
#content {
  margin: 0 auto;
}
#warehouse {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.warehouse-tbody {
  display: flex;
  flex-wrap: nowrap;
}
th,
td {
  border: 1px solid;
}
table {
  border-collapse: collapse;
}

.gap-header,
.row-header {
  display: block;
}
.column {
  min-width: 300px;
  margin-right: 20px;
  display: block;
  float: left;
}
.spot {
  display: flex;
  width: 2rem;
}
.row-header {
  text-align: center;
  vertical-align: middle;
}

.gap-header {
  text-align: center;
  vertical-align: middle;
}

.spot-table {
  border: none;
  margin: 0;
  width: 100%;
}
.spot-row {
  display: flex;
  width: 100%;
  padding: 0.1rem;
  border: 0;
}
.spot-number {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spot-content {
  width: calc(100% - 50px);
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.spot-content-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}
.spot-content-button {
  /* move to the right */
  margin-left: auto;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
}
.spot-content-text {
  padding: 0 0.5rem;
}
.pallet-product-div {
  display: flex;
  flex-direction: row;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: #ffffff;

  border: 1px solid #000000;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: auto;
}
.big-modal {
  width: 800px;
  height: 800px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-modal-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.big-modal-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid #000000;
}

.big-modal-header h3 {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.2rem 0.5rem;
}
.add-products-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal h3 {
  color: #000000;
  text-align: center;
}
.modal p,
.modal label {
  color: #000000;
}
.pallets-table {
  color: #000000;
}
.pallets-table td,
.pallets-table th {
  padding: 0.3rem;
  text-align: center;
}
.pallet-form,
.edit-pallet-spot-form {
  color: #000000;
}
.input-div input {
  float: right;
  transform: translate(0, 2px);
}
.input-div label {
  float: left;
  margin-right: 5px;
}
.input-div {
  margin: 0.1rem 0;
}
.modal-content {
  width: 100%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-table {
  color: black;
}

.change-spot-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.change-spot-form input {
  width: 60%;
}

.wh-setup {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  align-items: center;
}
.find-products-form {
  width: 100%;
  margin: 0 1.5rem;
}
.wh-setup input {
  width: 100px;
  margin-right: 0.2rem;
}
.edit-row-button {
  padding: 0.2rem 0.5rem;
  font-size: 10px;
  border-radius: 0.2rem;
}
#loading-gif {
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 9999;
  background: url('media/giphy.gif') no-repeat center center #242424;
}
#load {
  width: 100%;
  height: 100%;
  background-color: #242424;
}
.common-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.common-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin: 1rem 0;
}
.common-tbody td {
  padding: 0 0.2rem;
  text-align: center;
}
.delete-button {
  width: fit-content;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
